# function body
snippet fn
	${1:fn}( ${2:params} ) ->
	.

# eunit snippets
snippet eunit
	-ifdef( TEST ).
	-include_lib( "eunit/include/eunit.hrl" ).
	-endif.

snippet test
	${1:function}_test_() ->
	  [
		?_assertEqual( ${2:expected}, ${3:expression} )
	  ].
