snippet strict
	'use strict';	

snippet desc
	describe( '${1:something}', function() {
		${2}
	})

snippet it
	it( '${1:something}', function() {
		${2}
	})

snippet beforeach
	beforeEach( function() {
		${1}
	})
