# sources
# * https://wiki.archlinux.org/index.php/SSH_keys#SSH_agents
# * https://eklitzke.org/using-ssh-agent-and-ed25519-keys-on-gnome
[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
