# enable
#   systemctl --user enable urxvtd.service
#
[Unit]
Description=urxvt terminal daemon
Documentation=man:urxvtd(1) man:urxvt(1)

[Service]
ExecStart=/usr/bin/urxvtd -o -q

[Install]
WantedBy=graphical.target
