[Unit]
Description=Initialize xrdb once
After=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xrdb -all -load $HOME/.Xresources
