# enabled with
#
# systemctl enable /home/thenrio/src/dotfiles/etc/systemd/system/disable-gpe66.service
#
[Unit]
Description=disabled gpe66

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo disable > /sys/firmware/acpi/interrupts/gpe66'

[Install]
WantedBy=multi-user.target
